.app{
    display: flex;
    align-items: center;
    justify-content: center
}

.appCont {
    margin: 100px;
    width: 300px;
    height: 220px;
    background-color: #2e4b5cfe;
    border-radius: 10px;
    border: 2px solid;
    border-color: lightslategray;
}
.blockCont{

    margin: 100px;
    width: 300px;
    height: 220px;
    background-color: #2e4b5cfe;
    border-radius: 10px;
    border: 2px solid;
    border-color: lightslategray;
}

.item {
    width: 200px;
    height: 100px;
    margin: 20px;
    margin-left: 40px;
    padding: 10px;
    text-align: center;
    font-size: 80px;
    background-color: lightslategray;
    border-radius: 10px;
}

.itemMax {
    color: red;
}

.buttonCont {
    display: flex;
    padding: 10px;
    margin-left: 26px;
}

.button {
    margin-left: 10px;
    width: 100px;
    height: 30px;
    background-color: lightslategray;
    border-radius: 10px;
    border-color: lightslategray;
}

.incorrectValue{
    color: red;
    width: 200px;
    height: 100px;
    margin: 20px;
    margin-left: 40px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: lightslategray;
    border-radius: 10px;
}

.incCount {

}

.resetCount {

}
